<div>
    <form name="loginForm" valid-submit="login(loginData)">
        <div>
            <input type="email" name="emailAddress" placeholder="Email Address" data-ng-model="loginData.emailAddress" autocomplete="off" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" data-ng-model="loginData.password" autocomplete="off" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>